.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  padding: 20px;
}

.note-display {
  flex: 1;
  padding: 20px;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
